/* Apply styles for the sticky content container */
.sticky-content {
  position: sticky;
  top: 0;
  background-color: transparent; /* Set the desired background color */
  z-index: 100; /* Ensure it's above other content */
}

/* Apply styles for the navigation bar */
.navbar {
 
  color: white;
  background: rgba(0, 0, 0, 0.83) url('/assets/white.jpg');
  background-blend-mode: darken;
}

/* Apply styles for the moving-text container */
.moving-text-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #371869;
  color: white;
  position: relative; /* Remove 'fixed' positioning */
  z-index: 999; /* Ensure it's above other content */
}

/* Apply styles for the moving text */
.moving-text {
  font-size: 24px;
  animation: moveLeftToRight 10s linear infinite;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Apply styles for your page content */
.content {
  /* Add styles for your page content here */
}
/* Style for the .navbar-actions div */
.navbar-actions {
  display: flex;
  align-items: center;
 
}

/* Style for the .navbar-actions li elements (list items) */
.navbar-actions li {
  list-style: none; /* Remove bullet points for list items */
  margin-right: 10px; /* Add spacing between buttons */
}

/* Style for the .navbar-actions li a elements (links) */
.navbar-actions li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid transparent; /* Add a border to the buttons (initially transparent) */
  border-radius: 5px; /* Add rounded corners to the buttons */
  border-color: #ffffff; /* New border color on hover */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transition effect for hover */
}

/* Hover effect for buttons within .navbar-actions */
.navbar-actions li a:hover {
  background-color: #007BFF; /* New background color on hover */
  color: white; /* New text color on hover */
  border-color: #0056b3; /* New border color on hover */
}
.navbar-brand {
  font-family: "Your Preferred Font", sans-serif; /* Replace "Your Preferred Font" with the actual font name you want to use */
  font-weight: bold; /* Optionally make the font bold */
  font-size: 24px; /* Adjust the font size as needed */
  text-decoration: none; /* Remove underlines from links */
  color: #ffffff; /* Set the font color to your preference */
}