.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #343a40;
  height: 80px
  /* Other styles */
}
  .bottom-link {
    color: #fff; /* Text color of the link */
    text-decoration: none;
    font-weight: bold;
    font-size: 24px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Adjust padding as needed for spacing */
    display: block; /* Make the link a block element for full width */
  }
  
  .bottom-navbar {
    background-color: rgba(0, 0, 0, 0.7); /* Dark black color with opacity */
     /* Add padding to the navbar for better visibility */
  }
  .navbar{
    font-family: 'Courier New', Courier, monospace;
    color: #709dd1;
    font-size: 13px;
    
  }
 