<app-navbar></app-navbar>
<div class="container">
 
    <div class="instructions">
      <h3>How to Fill Out the Form:</h3>
      <ul>
        <li>Enter your full name in the "Full Name" field.</li>
        <li>Provide a valid email address in the "Email" field.</li>
        <li>Choose a strong password for the "Password" field.</li>
        <li>Confirm your password by entering it again in the "Confirm Password" field.</li>
        <li>Click the "Register" button to complete the registration.</li>
      </ul>
    </div>
  </div>
 

<div class="navbar-actions text-center">
  <a routerLink="/register" class="btn btn-primary btn-lg italic-border mt-10">Register Now</a>
</div>
&nbsp;
<app-bottom-bar></app-bottom-bar>